<% if @plan.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t("form.err", pluralize: pluralize(@plan.errors.count, t("form.errs"))) %>.
    </div>
    <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
